.list-group {
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 10px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 0px solid #ddd;
}

.form-inline {
	margin-bottom: 40px;
}

.error {
	color: red;
	font-size: 20px
}
.img-responsive {
  height: 34px;
  width: 34px;
  display: initial;
  margin-left: 10px;
}

.signIn {
  position: absolute;
  top: 50%;
  margin-top: 100px;
}
